.course-box {
  background-color: #fff;
}

.course-box .cb-col {
  height: 250px;
  padding: 0 12px;
}

.course-box .info-course {
  height: 150px;
}

.course-box .info-course p {
  margin: 0;
  padding: 10px 0 10px 0;
  font-size: 13px;
}

.course-box .cb-hrbutton hr {
  margin-top: 22px;
  margin-bottom: 12px;
}

.course-box .info-course .cb-title {
  font-weight: 600;
  color: #555959;
  margin-bottom: 10px;
}

.course-box .info-course .cb-provider {
  color: #9da9a8;
  font-weight: 400;
  margin: 10px 0;
}

.course-box .info-course .cb-description {
  color: #555959;
  font-weight: 300;
}
