.featured-course .fc-detail {
  background-color: white;
  margin-bottom: 15px;
}

.featured-course .fc-detail p {
  margin: 0;
  padding: 10px 0 10px 0;
  font-size: 14px;
}
.featured-course .fc-detail .fc-info {
  padding-top: 10px;
}

.featured-course .fc-detail .fc-title {
  font-weight: 600;
  color: #555959;
}

.featured-course .fc-detail .fc-provider {
  color: #aab5b4;
  margin: 4px 0;
}

.featured-course .fc-detail .fc-description {
  color: #747978;
}

.featured-course .fc-detail hr {
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
  margin: 15px 10px 10px 0;
}

.hr-button {
  padding-top: 10px;
}
.hr-button hr {
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
  margin: 15px 10px 10px 0;
}
