.top-menu {
  width: 100%;
  text-align: left;
}

.nav-topmenu {
  margin-bottom: 0;
  background-color: #555;
  min-height: 30px;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 8px 20px;
  color: white;
}

.navbar-inverse .navbar-nav > li:last-child > a {
  padding-right: 6px;
}
